/* CSS Document */
body {
  font-family: 'Neuton', serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  background: url(../images/dust.png);
  color: rgb(31,43,51);
}
form {
  font-size: 22px;
  font-family: 黑体;
  color: rgb( 155, 155, 242 );
  text-align: left;
  background-color:rgb( 243, 241, 241 );
}


lable.dfg {
  height:50px;
  font-size: 25px;
  font-family: 黑体;
  color:white;
  background-color:rgb( 155, 155, 242 );
  margin-bottom:0px;
   margin-top:3px;
   text-align:center;
   margin-bottom:0px;
}
span{
	align:"center";
  font-size: 25px;
  font-family: 黑体;
  color:white;
  background-color:rgb( 155, 155, 242 );
  margin-bottom:0px;
   margin-top:3px;
}
div.col-md-8{
	text-align:center;
	font-family: 黑体;
	}

div.dfg{
	 height:50px;
  font-size: 25px;
  font-family: 黑体;
  color:white;
  background-color:rgb( 155, 155, 242 );
  margin-bottom:0px;
  margin-top:3px;
}

input.btn.btn-primary{
	height:40px;
	width:120px;
	font-size:21px;
	font-family: 黑体;
	}
ul{
	width: 48px; 
	right: 74.5px; 
	top: 120px;
	 position: fixed;
	 font-family:����;
	 font-size:21px;
	 
}